body {
    background-image: url('../images/house.jpg');
    background-size: 105% 105%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    overflow-x: hidden;
}

.container-fluid {
    margin-bottom: 20px;
}

#search {
    position: relative;
    width: 960px;
}

.search-form {
    position: relative;
    margin-top: 50px;
    transform: translateX(-52.5%);
    left: 50%;
}

.search-results {
    position: relative;
    margin-top: 5%;
    width: 75%;
    left: 50%;
    transform: translateX(-50%);
}

.title {
    font-size: 3em;
}

#basic-addon1 {
    height: 38px;
}

.caret {
    position: absolute;
    margin-top: 8px;
    left: -40px;
}

.search-bar {
    height: 75px;
}

.life {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.life p {
    font-size: 16px;
}

#myTabContent {
    background-color: #ffffff;
    margin-top: 13px;
    position: relative;
}

.nav-link {
    border-bottom: 1px solid #ffffff;
    z-index: 1;
}

/* ....................collapsible................................ */

.jobList {
    background-color: whitesmoke;
    color: rgb(69, 114, 196);
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }
  
  .active, .jobSite:hover {
      background-color: rgb(221, 214, 214);
    }
    
    .jobDiv {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
}



#map {
    margin-top: 5%; 
    height: 450px;
    width: 100%;
    background: black;
}


.table {
    width: 90%;
    margin-bottom: 0;
}

